<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>需要访问您的位置信息以提供位置相关服务</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>需要访问您的位置信息以提供位置相关服务</string>
</dict>
</plist>
